<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true">
    <php>
        <env name="setupFactory" value="\Ibexa\Tests\FieldTypeMatrix\LegacySetupFactory" />
        <env name="fixtureDir" value="Legacy" />
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="fieldtype-matrix">
            <directory>/tests/lib/</directory>
        </testsuite>
    </testsuites>
</phpunit>
